<!DOCTYPE html>
<html lang="en" ng-app="project-manager">
<head>
  <meta charset="UTF-8">
  <title>Project Management</title>

  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="../assets/css/main-style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>

</head>
<body ng-controller="AppController">
  
  <div class="top-nav">
    <div class="container">
      <nav class="navbar navbar-light">
        <div class="nav navbar-nav">
          <a class="nav-item nav-link active" href="#">Project Management Home</a>
          <a class="nav-item nav-link" href="#">Projects</a>
          <a class="nav-item nav-link" href="#">Budget</a>
          <a class="nav-item nav-link" href="#">Flats</a>
        </div><!-- .nav -->
      </nav><!-- .navbar -->
    </div><!-- .container -->
  </div><!-- .top-nav -->

  <div class="secondary-nav">
    <div class="container">
      <nav class="navbar navbar-light">
        <div class="nav navbar-nav">
          <a class="nav-item nav-link active" href="#">Home</a>
          <a class="nav-item nav-link" href="#/projects">Projects</a>
          <a class="nav-item nav-link" href="#">Budget</a>
          <a class="nav-item nav-link" href="#">Flats</a>
        </div><!-- .nav -->
      </nav><!-- .navbar -->
    </div><!-- .container -->
  </div><!-- .secondary-nav -->

  <div class="content">
    <div class="container">
      <div class="row">
        <div ng-view></div>
      </div><!-- .row -->
    </div><!-- .container -->
  </div><!-- .content -->

  <div class="footer">

  </div><!-- .footer -->

  <!-- Main Application Link -->
  <script src="../app.js"></script>

  <!-- Controller Links -->
  <script src="../controllers/ProjectController.js"></script>
  <script src="../controllers/BudgetController.js"></script>

  <!-- Route Links -->
  <script src="../routes/AppRoutes.js"></script>
  <script src="../routes/ProjectRoutes.js"></script>
  <script src="../routes/BudgetRoutes.js"></script>

  <!-- Service Links -->

  <!-- Directive Links -->

  <!-- Components Links -->

</body>
</html>